.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.project-card {
  background: #121017;
  color: white;
  padding: 20px;
  margin: 5px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-date {
  font-size: 14px;
  color: #aaa;
}

.project-title {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.project-category {
  font-size: 16px;
  color: #ddd;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid columns */
  grid-auto-rows: 1fr; /* Each row takes equal height */
  gap: 20px; /* Space between cards */
  padding: 20px; /* Padding around the grid */
}
